[Desktop Entry]
Version=1.0
Name=Flowchart Application
Name[tr]=Akış Diyagram Uygulaması
Type=Application
Comment=Qt based Tabanlı Akış Diyagram Application
Comment[tr]=Qt Tabanlı Akış Diyagram  Uygulaması
Terminal=false
Exec=/usr/bin/akisdiyagram
Icon=/usr/share/akisdiyagram/prg.png
Categories=Qt;Utility;
Keywords=akisdiyagram;diyagram;flow,chart,flowchart;
GenericName=akisdiyagram
