Package: akisdiyagram-dbgsym
Source: akisdiyagram
Version: 2.3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 110
Depends: akisdiyagram (= 2.3)
Section: debug
Priority: optional
Description: debug symbols for akisdiyagram
Build-Ids: 689252b052e051fb3b9e33a4415134de54e7c216
