Package: akisdiyagram-dbgsym
Source: akisdiyagram
Version: 2.4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 110
Depends: akisdiyagram (= 2.4)
Section: debug
Priority: optional
Description: debug symbols for akisdiyagram
Build-Ids: 127b0aaeb0cee3ab94ba41f973a4bf9a083f7ceb
